.features {
  background-image: url("../img/Rectangle.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: $background-color-grey;
  min-height: 765px;
  padding-top: 100px;
}

.features__wrapper {
  background-color: $background-color-white;
}

.features__inner-wrapper {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding: 10px;
}

.features__title {
  font-size: $body-font-size - 4px;
  line-height: $body-line-height - 7px;
  font-weight: $font-bold;
  text-transform: uppercase;
  color: $color-subtitle;
  letter-spacing: 0.04em;
}

.features__description {
  font-size: $body-font-size + 2px;
  line-height: $body-line-height + 4px;
  letter-spacing: -0.03em;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: $body-font-size - 4px;
    line-height: $body-line-height - 7px;
  }

  .features__description {
    font-size: $body-font-size + 8px;
    line-height: $body-line-height + 4px;
  }
}
