.form {
  padding: 30px 0;
  background-color: $background-form;
  color: $background-color-white;
}

.form__wrapper {
  padding-top: 30px;
}

.form__inner-wrapper {
  padding-left: 85px;
  box-sizing: border-box;
}

.form__title {
  font-size: $body-font-size + 24px;
  line-height: $body-line-height + 24px;
  font-weight: $font-normal;
  text-align: center;
  letter-spacing: -0.02em;
}

.form__wrapper label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: $body-line-height - 1px;
  font-weight: $font-bold;
  margin-bottom: 15px;
  letter-spacing: -0.01em;

  &::before {
    @include pseudo;
    @include flex;
    top: -18px;
    left: -83px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: $body-font-size + 4px;
    line-height: $body-line-height - 3px;
    font-weight: $font-medium;
    color: $color-subtitle;
    width: 63px;
    height: 63px;
    border: 1px solid rgba($background-color-white, 0.23);
    border-radius: 32px;
    background-color: transparent;
  }

  &:nth-of-type(1)::before {
    content: "1";
  }

  &:nth-of-type(2)::before {
    content: "2";
  }

  &:nth-of-type(3)::before {
    content: "3";
  }

  &:nth-of-type(4)::before {
    content: "4";
  }
}

.form__wrapper input,
.form__wrapper textarea {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $body-font-size + 2px;
  line-height: $body-line-height;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(#f7f8fa, 0.1);
  padding: 15px 10px 15px 3px;
  margin-bottom: 25px;
  color: $background-color-white;
  background-color: transparent;
  letter-spacing: -0.01em;
  box-sizing: border-box;
}

.form__wrapper textarea {
  min-height: 160px;
  resize: none;
}

.form__wrapper input::placeholder,
.form__wrapper textarea::placeholder {
  color: rgba($background-color-white, 0.3);
}

/* stylelint-disable */
_:-ms-fullscreen, :root .form__wrapper input,
_:-ms-fullscreen, :root .form__wrapper textarea {
  color: $background-color-white;
}
/* stylelint-enable */

/* stylelint-disable */
:-ms-fullscreen, :root .form__wrapper input:-ms-input-placeholder,
:-ms-fullscreen, :root .form__wrapper textarea:-ms-input-placeholder {
  color: rgba($background-color-white, 0.3);
}
/* stylelint-enable */

.form__button {
  @include flex;
  justify-content: center;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: $body-font-size - 2px;
  line-height: $body-line-height - 9px;
  font-weight: $font-extrabold;
  text-transform: uppercase;
  min-width: 200px;
  min-height: 54px;
  padding: 8px 20px 5px;
  margin: 10px auto 30px;
  border: none;
  border-radius: 111px;
  color: $color-subtitle;
  background-color: $background-color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  letter-spacing: 0.04em;
  box-sizing: border-box;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    color: $background-color-white;
    background-color: $button-hover;
  }

  &:active {
    color: $background-color-white;
    background-color: $button-active;
  }
}

@-moz-document url-prefix("") {
  .form__button {
    padding-top: 21px;
  }
}

/* stylelint-disable */
:-ms-fullscreen, :root .form__button {
  padding-top: 18px;
}
/* stylelint-enable */

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 90px;
  }

  .form .site-wrapper {
    max-width: 667px;
  }

  .form__wrapper {
    position: relative;
    left: -48px;
  }

  .form__inner-wrapper {
    padding-left: 94px;
  }

  .form__title {
    font-size: $body-font-size + 24px;
    line-height: $body-line-height + 26px;
    margin: 68px 0 51px;
  }

  .form__wrapper label {
    line-height: $body-line-height - 1px;
    margin-bottom: 8px;

    &::before {
      top: -19px;
      left: -93px;
    }
  }

  .form__wrapper input,
  .form__wrapper textarea {
    font-size: $body-font-size + 8px;
    line-height: $body-line-height + 9px;
    padding-left: 0;
    padding-bottom: 17px;
    margin-bottom: 67px;
  }

  .form__wrapper textarea {
    min-height: 100px;
    margin-bottom: 44px;
  }

  @-moz-document url-prefix("") {
    .form__wrapper textarea {
      height: 102px;
      margin-bottom: 47px;
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .form__wrapper textarea {
    min-height: 110px;
  }
  /* stylelint-enable */

  .form__button {
    font-size: $body-font-size - 2px;
    line-height: $body-line-height - 9px;
    width: 100%;
    min-height: 53px;
  }
}

@media (min-width: $tablet-width) and (max-width: 710px) {
  .form__wrapper textarea {
    min-height: 130px;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .form__wrapper textarea {
    min-height: 140px;
  }
  /* stylelint-enable */
}
