.main-header {
  text-align: center;
}

.main-header__title {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.02em;
}

.main-header__description {
  font-family: "Roboto", "Arial", sans-serif;
  color: #4a4556;
}

.main-header__description span {
  color: $color-subtitle;
  font-weight: bolder;
}

.main-header__link {
  @include link(none, $color-title);
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &::before {
    @include pseudo;
    top: 2px;
    left: -20px;
    background-image: url("../../img/svg/Union.svg");
    width: 14px;
    height: 14px;
  }
}
