$font: "DINPro", "Arial", sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-extrabold: 800;
$body-font-style: normal;
$body-font-size: 16px;
$body-line-height: 26px;

$button-hover: rgba(gold, 0.8);
$button-active: goldenrod;

$background-color-white: #ffffff;
$background-color-grey: #f7f5fa;
$background-form: #161616;
$color-subtitle: #f47821;
$color-title: #222222;
$color-description: #4e4d53;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
